<h1>Welcome to SBIR Solicitations!</h1>

<p>
  This website was created to encourage people and companies wanting to participate in the SBIR program to:
</p>
<ul>
  <li>browse SBIR solicitations by agency</li>
  <li>find other companies or people to work with on a solicitation</li>
  <li>create a discussion chat/forum for each SBIR solicitation</li>
</ul>
