<div class="comment">
  <div class="user">
    <a href="#" class="comment-user">{{content.user.name}}</a>
    <div class="metadata">{{content.createdAt}}</div>
  </div>
  <div class="comment-body">
    {{content.body}}
  </div>
</div>
