<div class="comment">
  <div class="user">
    Luc Castera
    <div class="metadata">Nov 12 - 6:50PM</div>
  </div>
  <div class="comment-body">
    I would be very interested to work on this solicitation. I'm a Ruby on Rails programmer with a lot
    of experience programming this kind of tools. I think I can help a lot in this research.
  </div>
</div>
