<div class="solicitation-details brushed">
  <h2>{{content.title}}</h2>
  <p>
    {{content.description}}
  </p>
  <p class="metadata">
    <strong>Link:</strong> <a target="_blank" {{bindAttr href="content.link"}}>{{content.link}}</a>
  </p>
</div>

<h3>Comments</h3>
