<div class="solicitation-details">
<h2>{{content.title}}</h2>
<p>
  {{content.description}}
</p>
<p class="metadata">
  <strong>Link:</strong> <a target="_blank" {{bindAttr href="content.link"}}>{{content.link}}</a>
</p>
</div>

<h3>Comments</h3>

<div class="message">
  <div class="user">
    Luc Castera
    <div class="metadata">Nov 12 - 6:50PM</div>
  </div>
  <div class="message-body">
    I would be very interested to work on this solicitation. I'm a Ruby on Rails programmer with a lot
    of experience programming this kind of tools. I think I can help a lot in this research.
  </div>
</div>

<div class="message">
  <div class="user">
    Luc Castera
    <div class="metadata">Nov 12 - 6:50PM</div>
  </div>
  <div class="message-body">
    I would be very interested to work on this solicitation. I'm a Ruby on Rails programmer with a lot
    of experience programming this kind of tools. I think I can help a lot in this research.
  </div>
</div>

<div class="message">
  <div class="user">
    Luc Castera
    <div class="metadata">Nov 12 - 6:50PM</div>
  </div>
  <div class="message-body">
    I would be very interested to work on this solicitation. I'm a Ruby on Rails programmer with a lot
    of experience programming this kind of tools. I think I can help a lot in this research.
  </div>
</div>
