<% content_for("page_javascript") do %> 
<script id="jsapi-script" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load('visualization', '1', {packages:['corechart', 'orgchart']});
</script> 
<% end %>

