.loading-page, .brushed {
  background: #fff static_url("bg_pattern.png") repeat scroll 0 0;
}
.ace.source-list.collection.brushed, .ace.collection.brushed {
  background: #fff static_url("bg_pattern.png") repeat scroll 0 0;
}

.ace.collection.alternating .sc-collection-item.even {
  background-color: #fff;
}

.loading-page h1 {
  font-size: 100px !important;
  color: #fff !important;
  padding-top: 40px;
  font-family: "JosefinSansStdLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.clearfix {
  display: block;
  clear: both;
  margin: 0;
}

.scrollbars {
  white-space: nowrap;
  overflow: auto;
}

div.left-column {
  border-right: 1px solid #B4B4B4;
}
.text-centered {
  text-align: center;
}

a {
  color: #608AB9 !important;
}

div.about, div.graph {
  padding: 20px;
  font-size: 1.4em;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

div.about h1, div.about h2 {
  margin-top: 0px;
}

:focus {
  outline: none;
}

div.summary {
  font-size: 1.2em;
  font-family: "JosefinSansStdLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff static_url("bg_pattern.png") repeat scroll 0 0;
}

div.summary h2 {
  margin-top: 0px;
}

div.solicitations {
  background-color: #fff;
}

div.solicitations .sc-list-item-view {
  border-bottom: 1px solid #f0f0f0;
  font-size: 17px;
}

div.solicitation {
  background-color: #fff;
  padding: 0px;
  white-space: normal;
}

div.solicitation h2 {
  margin-top: 0;
}

div.empty .sc-label-view {
  text-align: center;
  font-size: 17px;
  color: #ccc;
}

div.solicitation-details {
  border-bottom: 1px solid #B4B4B4;
  padding: 20px;
  white-space: normal;
  height: 20%;
}

div.new-comment {
  border-top: 1px solid #b4b4b4;
}

div.comment {
  font-size: 15px;
  border-bottom: 1px dotted #b4b4b4;
}

.comment-box textarea {
  padding: 3px;
}

div.comment div.user {
  width: 120px;
  float: left;
  text-align: right;
  padding: 9px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.comment div.comment-body {
  margin-left: 140px;
  padding: 10px;
  border-left: 1px dotted #b4b4b4;
  min-height: 35px;
  white-space: normal;
}

div.comment div.metadata {
  font-size: 11px;
  color: #b4b4b4;
}

div.solicitation h3 {
  margin: 0;
  padding: 10px 10px;
  background-color: #608AB9;
  color: #fff;
  font-size: 18px;
}

.popup-toolbar {
  background-color: #eee;
  border: 1px solid #ccc;
  fontWeight: bold;
  color: #666;
}
